
/**
 * Float Layout Activity
 **/

 * {
    box-sizing: border-box;
    text-align: center;
 }
body{ 
    font-family: Arial, Helvetica, sans-serif, 'Helvetica Neue';     
    color:#777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin-left: 300px;
    margin-right: 200px;
    text-align: center;

    
}

header,
nav,
.section, 
.aside, 
.footer {
    background: #ebebeb;

}

#article{
    color:#ebebeb;
    background: #777;
    margin-left:10px;
    margin-right:10px;
    padding:0px;
    margin-top: 10px;
    height: 190px;
    padding-top: 0px;

}
 
#headings{
    color: #777;
    background: #ebebeb;
    margin-left:25px;
    margin-right:25px;
    

}
#p {
    color: #777;
    background: #ebebeb;
    margin-left: 25px;
    margin-right: 25px;
    padding: 0px;

}
   
.section{
    padding: 0px;
    width:53%;
    height:300px;
    float:left;
    margin-top: 20px;
    margin-right: 20;
    margin-bottom: 20px;

}

#article{
      background-color:#777;
      color:#ebebeb;

}
header{
    padding: 2px;
    margin-top: 20px;
    height: 100px;
  
}
nav{
    padding:20px;
    margin-top:20px;
    height: 100px;;
    
}
.aside{
    float: left;
    width:45%;
    padding: 5px;
    height:300px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;

}

.footer{
    clear: both;
    padding:20px;
    margin-top:20px;
    margin-bottom: 20px;
    height: 100px;
}